$border-radius: 8px;
$max-width: 800px;

$white: hsl(0, 0%, 90%);
$black: hsl(0, 0%, 10%);
$light-gray: hsl(0, 0%, 80%);
$gray: hsl(0, 0%, 20%);
$blue: hsl(208, 79%, 28%);
$blue-light: hsl(204, 100%, 49%);
$green: #00C29C;
$yellow: #DBA11C;
$purple: #6959a0;
$orange:  #DB901C;

$font-color-white: hsl(0, 0%, 95%);
$font-color-dark: $black;

$background-color: $black;

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

