@use '../../sass/variables.scss' as *;

.hour {
    background-color: $white;
    color: $blue;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    &__time {
        font-size: 2rem;
        margin: 0;
        color: $gray;
    }

    &__info {
        // font-size: 1rem;
        margin: .5rem 0;
        color: $gray;
    }
}