@use './Hour.scss';
@use '../../sass/variables';

.hours-list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
}