@use '../../sass/variables.scss' as *;

.hour {
    background-color: $white;
    color: $blue;
    padding: 1rem;
    // margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    &__time {
        font-size: 2rem;
        margin: 0;
        color: $gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        margin: .5rem 0;
        color: $gray;
    }

    &:first-child &__time::after {
        content: 'Recommended';
        background-color: $orange;
        color: $white;
        padding: .5rem;
        border-radius: 16px;
        font-size: 1rem;
    }
}