@use '../../sass/variables.scss' as *;

.mode-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 2rem;

    &__button {
        padding: .5rem;
        border: 3px solid $white;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: bold;
        background: none;
        color: $white;
        transition: background-color .2s;
        cursor: pointer;

        &:hover {
            background: rgba($white, .2);
        }

        &.active {
            background: $white;
            color: $blue;

            &:hover {
                background: rgba($white, .9);
                border: 3px solid $white;
            }
        }
    }
}