@use '../sass/variables' as *;

.current-time-results {
    background: rgba($white, .1);
    padding: 1rem .5rem;
    border-radius: 8px;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;

    &__result {
        font-size: 4rem;
    }
}