@use '../sass/variables' as *;

.modal-overlay {
    background-color: rgba($black, .5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: $white;
    padding: 1.5rem 2rem;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        color: rgba($black, .5);
        border-bottom: 1px solid rgba($black, .2);
        width: 100%;
    }

    &__title {
        font-size: 1.4rem;
        margin: 0;
    }

    &__close {
        font-size: 1.5rem;
        cursor: pointer;
        
        &:hover {
            color: rgba($black, .8);
        }
    }

    &__section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid rgba($black, .2);
        font-size: 1rem;
        font-weight: bold;
    }
    
    select {
        padding: .25rem;
        font-size: 1.1rem;
        color: rgba($black, .8);
        background-color: $light-gray;
        border: none;
        border-radius: 4px;
    }

    &__warning {
        font-size: 1.5rem;
        text-align: center;
        color: rgba($black, .5);
    }

    &__button {
        padding: 1rem;
        font-size: 1.1rem;
        border: none;
        border-radius: 8px;
        background-color: $blue;
        color: $white;
        cursor: pointer;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

        &::after {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 400;
            margin-left: 1rem;
            content: '\f0f3';
        }

        &:hover {
            box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
            outline-color: rgba(255, 255, 255, 0);
            outline-offset: 15px;
            text-shadow: 1px 1px 2px #427388; 
        }

        &:hover:after {
            animation: ring 4s ease-in-out ;
            transform-origin: 50% 4px;
    
            @keyframes ring {
                0% { transform: rotate(0); }
                1% { transform: rotate(30deg); }
                3% { transform: rotate(-28deg); }
                5% { transform: rotate(34deg); }
                7% { transform: rotate(-32deg); }
                9% { transform: rotate(30deg); }
                11% { transform: rotate(-28deg); }
                13% { transform: rotate(26deg); }
                15% { transform: rotate(-24deg); }
                17% { transform: rotate(22deg); }
                19% { transform: rotate(-20deg); }
                21% { transform: rotate(18deg); }
                23% { transform: rotate(-16deg); }
                25% { transform: rotate(14deg); }
                27% { transform: rotate(-12deg); }
                29% { transform: rotate(10deg); }
                31% { transform: rotate(-8deg); }
                33% { transform: rotate(6deg); }
                35% { transform: rotate(-4deg); }
                37% { transform: rotate(2deg); }
                39% { transform: rotate(-1deg); }
                41% { transform: rotate(1deg); }
                43% { transform: rotate(0); }
                100% { transform: rotate(0); }
              }
        }
    }
}